$clrPrimary: #3a5d9f;
$clrSecondary: #fdcc07;
$clrBackground: #ffffff;
$clrDisabled: #c1c8ca;

$clrNormal: #a8a77a;
$clrFire: #ee8130;
$clrWater: #6390f0;
$clrElectric: #f7d02c;
$clrGrass: #7ac74c;
$clrIce: #96d9d6;
$clrFighting: #c22e28;
$clrPoison: #a33ea1;
$clrGround: #e2bf65;
$clrFlying: #a98ff3;
$clrPsychic: #f95587;
$clrBug: #a6b91a;
$clrRock: #b6a136;
$clrGhost: #735797;
$clrDragon: #6f35fc;
$clrDark: #705746;
$clrSteel: #b7b7ce;
$clrFairy: #d685ad;
